body {
  font: Times New Roman, sans-serif;
  line-height: 1.3;
}

#main-story {
  width: 100%;
}

#story-container {
  width: 650px;
  margin: 0px auto;
}

.story-text {
  padding: 20px 0;
  font-size: 20px;
  line-height: 1.3;
}

#intro-img, #intro-img img {
  width: 100%;
}

.cutline {
  color: #a9a9a9;
  text-align: left;
}
